.form {
  display: flex;
  flex-direction: column;
}

.form > * + * {
  margin-top: 22px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.label > * {
  margin-top: 4px;
}

.input {
  height: 40px;
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 12px;
}

.input:focus {
  border: 1px solid var(--color-secondary);
}

.input[type=text] {
  font-size: inherit;
}

.button {
  border-radius: 6px;
  height: 38px;
  background-color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: var(--color-primary);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  --padding-x: 1.2em;

  border-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .2s;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.button:active {
  transform: translateY(2px);
}
