.wrapper {
  /* display: flex;
    flex-direction: column; */
  padding-bottom: 8px;
}

.title {
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  padding: 24.5px 0 8px;
}

.sub-title {
  font-size: 14px;
  color: var(--color-tertiary);
  line-height: 20px;
}
